<script>var getdata = document.getElementById('addPost');
if(getdata){ getdata.addEventListener('submit', addPost)};
</script>

<div class="row">
  <div class="span9">
      <div class="span8">
<h1>Set up your account</h1>
     </div>
<div class ="inner" id="setting-form"></div>

<%= javascript_pack_tag 'setting' %>
  </div>
</div>
