<h1>Step 1: Let's Create Your Account</h1>

<%= render 'form' %>


<%= link_to 'Back', grants_path %>

<!-- <script>var getdata = document.getElementById('addPost');
if(getdata){ getdata.addEventListener('submit', addPost)};
</script>

<div class="row">
  <div class="span9">
      <div class="span8">
<h1>Set up your grant</h1>
  </div>
<div class ="inner" id="grant-form"></div>

<%= javascript_pack_tag 'grant' %>
      </div>

</div> -->
