a.header-link-1, a.header-link-2 {
  text-align:left;
  font-weight:normal;
  margin:2px -7px 10px -7px;
  padding:5px 5px 5px 15px;
  font-size:1.0em;
  background-color: inherit;
  color:#000;
}

a.header-link-1:visited {
  color:#000;
}
.demo {
   background: #fff6bf !important;
   color: #514721;
   border-color: #ffd324;
   padding: 0.8em;
}

h4.demo {
  color: #514721;
  padding: 0px;
}

#theme-options {
  padding-top: 50px;
}

#flash {
  padding-left: 40px;
}
